.btn.show {
  color: black;
  background-color: #7d8ea7;
}

.title {
  font-family: 'Roboto';
  font-weight: 400;
}

.form_currencies_container {
  flex-direction: column;
  justify-content: space-between;
}

.currency_input {
  height: 40px;
}

.form-control {
  background-color: #cadef8;
  border-radius: 0;
  &:focus {
    background-color: #cadef8;
  }
}

.currency_dropdown {
  min-width: 100px;
  justify-content: flex-end;
  background-color: lightsteelblue;
  color: black;
  border: none;
  border-radius: 0;
  &:hover {
    background-color: #7d8ea7;
    color: black;
  }
}

.currency_dropdown_container {
  border-radius: 0;
  border: none;
}

.swap-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 200px;
  &:hover {
    cursor: pointer;
  }
  &-img {
    display: block;
    margin:auto;
  }
}

.dropdown-menu-container {
  padding: 0;
}

.select_currency {
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  padding: 5px 5px;
}
.select_currency_item {

  max-width: 200px;
  &.ticker {
    padding: 0 5px;
  }
  &.name {
    flex-grow: 1;
  }
}

.form-control:focus {
  box-shadow: none;
}

.wallet_container {
  height: 40px;
  flex-direction: column;
  & .exchange_container{
    & .exchange_button {
      height: 40px;
      border-radius: 0;
      width: 100%;
    }
  }
}

.error {
  color: red;
}